@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "RedirectError";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<h2>404 Error - Page not found</h2>

<h3>403, 401, 404, and somehow we're in Newmarket. The page was not found.</h3>

