@model Capstone.Models.LogOnModel

@{
 Layout = "~/Views/Shared/_Layout.cshtml";
}

    <p style="font-weight:bold; font-size:larger">Welcome to the site, create an account today and have access to: </p>
    <ul>
        <li>Book an appointment for automotive service and parts installation</li>
        <li>Order parts online and pick-up in store</li>
        <li>Create a profile and search for parts by your car's make/model</li>
        <li>Ask us a message through our internal messaging system</li>
        <li>Keep track of previous orders and upcoming appointments</li>
    </ul>

